<h1>inside a node view</h1>

<h2> I'm passed in from the url:  {{message}} </h2>

<form class="" action="/message" method="post">
  <input type="text" name="message" >
  <button type="submit">Submit</button>
</form>
